### your site title here

title: Mostafa Bousbaa
description: Ph.D. Candidate in Remote Sensing, Hydrology & Geoinformatics

baseurl: ""  # â† VERY IMPORTANT: leave empty for personal site
url: "https://mostafabousbaa.github.io"  # your GitHub Pages URL
email: # optional

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

# Social media links in footer
# linkedin: "https://www.linkedin.com/in/mostafa-bousbaa/"
# stackoverflow: "#"
# github: "#"
# researchgate: "https://www.researchgate.net/profile/Mostafa-Bousbaa-2"
# orcid: "https://orcid.org/my-orcid?orcid=0000-0002-4898-4921"
# quora: "#"
# instagram: "#"
# facebook: "#"
# bluesky: "#"

# Social media links in footer
linkedin: "https://www.linkedin.com/in/mostafa-bousbaa/"
researchgate: "https://www.researchgate.net/profile/Mostafa-Bousbaa-2"
orcid: "https://orcid.org/my-orcid?orcid=0000-0002-4898-4921"
github: "https://github.com/MostafaBousbaa"
# twitter: "https://twitter.com/your_twitter_handle"
# scholar: "https://scholar.google.com/citations?user=SlHq9D2PE8MC&hl=fr"

# Markdown
highlighter: rouge
markdown: kramdown

# Tracker
analytics:

# optimization -> compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: false
  startings: []

#collection
collections:
  projects:
    output: true
    permalink: /projects/:name/
    order:
      - shortProject.md
      - longerProjectTitle.md
      - redirect.md
      - project4.md
      - project5.md
      - project6.md

sass:
  sass_dir: /assets/css/_sass
  style: compressed

include:
  - _pages

exclude:
  - README.md
  - LICENSE.md

plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-email-protect
  - jekyll-target-blank
